{% load static %}
<section class="aboutIndex container text-center mb-5" id="aboutIndex">
    <h1>Conoce más sobre nosotros</h1>
    <hr class="mb-3">
    <div class="carAbout">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-6">
            <img src="{% static 'GolGana/img/tiro.svg' %}" class="card-img-top" alt="...">
      </div>
      <div class="col-sm-6" data-aos="fade-left" data-aos-duration="1300" data-aos-once="true">
        <div class="card">
          <div class="bodyAbout card-body">
            <h2 class="card-title">¿Cómo surgió el proyecto?</h2>
            <p class="card-text text-start">Este proyecto surgió cómo solución a los problemas que presentan las personas al intentar alquilar alguna cancha, desarrollando una página web, facilitamos el alquiler de canchas desde la comodidad de sus hogares.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex flex-row-reverse justify-content-center align-items-center" >
        <div class="col-sm-6">
              <img src="{% static 'GolGana/img/arquero.svg' %}" class="card-img-top" alt="...">
        </div>
        <div class="col-sm-6" data-aos="fade-right" data-aos-duration="1300" data-aos-once="true">
          <div class="card">
            <div class="bodyAbout card-body">
              <h2 class="card-title">¿Por qué usar GolGana?</h2>
              <p class="card-text text-start">Esta aplicación es una solución a los problemas que tienen las personas al alquilar una cancha, cuenta con una interfaz agradable para los usuarios, además de tener la posibilidad de ofrecer otros servicios en un futuro.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-6">
              <img src="{% static 'GolGana/img/cancha.svg' %}" class="card-img-top" alt="...">
        </div>
        <div class="col-sm-6" data-aos="fade-left" data-aos-duration="1300" data-aos-once="true">
          <div class="card">
            <div class="bodyAbout card-body">
              <h2 class="card-title">Nuestro Equipo</h2>
              <p class="card-text text-start">Conformado por estudiantes apasionados por el fútbol y la tecnología, nuestro equipo busca desarrollar las mejores experiencias para nuestros clientes, desarrollando una aplicación de uso fácil y amigable para el usuario.</p>
            </div>
          </div>
        </div>
      </div>
</div>
</section>