<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'GolGana/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'GolGana/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% block css %}

    {% endblock  %}
    <title>{{tittle}}</title>
    <link rel="icon" type="image/ico" href="{% static 'GolGana/img/GolGana_6.ico' %}">
</head>
<body>
    {% block content %}
    
    {% endblock  %}
</body>



{% load static %}

<script src="{% static 'GolGana/js/bootstrap.bundle.min.js' %}"></script>
<!-- JavaScript Bundle with Popper -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% static 'GolGana/js/jquery-main.js' %}"></script>
	<script src="{% static 'GolGana/js/jquery.chained.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/c1367cdfce.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    <script>$(function() {
        AOS.init();
      });</script>
{% block js %}

{% endblock js %}
</html>
