{% block footer%}
{% load static %}
<section> 
  <footer class="footerleon text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="google fa fa-google"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="github fa fa-github"></i>
        </a>
      </section>
      <section class="">
        <div class="row">
          <div class="col-md-12">
            <h6 class="text-uppercase">Todos los derechos reservados
            </h6>
          </div>
        </div>
    </div>
  </footer>
  </section>
{% endblock %}



