{% block style %}
{% load static %}
<link href="{% static 'GolGana/css/registro.css' %}" rel="stylesheet">
<link href="{% static 'GolGana/css/main.css' %}" rel="stylesheet">
<link href="{% static 'GolGana/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'Golgana/css/index.css' %}" rel="stylesheet">
<link href="{% static 'Golgana/css/profile.css' %}" rel="stylesheet">
<link href="{% static 'Golgana/css/editprofile.css' %}" rel="stylesheet">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<!--Google-Font-Inter-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% endblock  %}