{% block mapa %}
{% load static %}
<section class="mapagoogle container-fluid pb-5 ">
    <div class="container googlemapa mt-5">
      <h1 class="mt-5" style="font-weight:bold; font-size:4rem;">Encuentra tu cancha preferida</h1>
      <iframe class="mt-3 mb-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1615.902635761456!2d-75.25212775837458!3d2.939506144854573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3b7421750abbd5%3A0x6cc8c77aefd23828!2sSupermercado%20Popular%20La%20Rioja!5e0!3m2!1ses!2sco!4v1629580985683!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>

{% endblock %}