{% block tarjetas %}
{% load static %}
<section class="container-fluid mt-5">
	<div class="cards-1 text-center">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="card10 card text-center">
                        <span class="fa-stack">
                            <div class="d-flex justify-content-center"><img class="football" src="{% static 'GolGana/img/football.png' %}"></img></div>
                        </span>
                        <br>
                        <div class="card-body">
                            <p class="texto  tarjetas-texto">CanchaCanchaCanchaCanchaCanchaCanchaCanchaCanchaCanchaCanchaCanchaCanchaCanchaCanchaCanchaCancha</p>
                        </div>
                    </div>
                    <div class="card20 card text-center">
                        <span class="fa-stack text-center">
                            <div class="d-flex justify-content-center"><img class="football-field" src="{% static 'GolGana/img/football-field.png'%}"></img></div>
                        </span>
                        <div class="card-body">
                            <p class="texto  tarjetas-texto">EstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadioEstadio</p>
                        </div>
                    </div>
                    <div class="card30 card text-center">
                        <span class="fa-stack">
                            <div class="d-flex justify-content-center"><img class="call" src="{% static 'GolGana/img/call.png'%}" ></img></div>
                        </span>
                        <div class="card-body">
                            <p class="texto tarjetas-texto">TelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefonoTelefono</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
  </section>
{% endblock %}