{% load static %}
<section class="tarjetasIndex container">
    <div class="text-center">
        <h1>FUNCIONES</h1>
        <hr>
    </div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col" data-aos="fade-up" data-aos-duration="1300" data-aos-once="true">
      <div class="feature-icon text-center">
          <img class="img-fluid " src="{% static 'GolGana/img/strategy.svg' %}">
      </div>
      <h2 class="features-title text-start">Arma tu equipo</h2>
      <p class="features-text text-start">Arma tu equipo y disfruta de un rato agradable junto a tus amigos y familiares.</p>
    </div>
    <div class="feature col" data-aos="fade-up" data-aos-duration="1300" data-aos-once="true">
        <div class="feature-icon text-center">
            <img class="img-fluid " src="{% static 'GolGana/img/goal-box.svg' %}">
        </div>
      <h2 class="features-title text-start">Las mejores canchas</h2>
      <p class="features-text text-starts">Tenemos las mejores canchas del país y podrás alquilarlas desde cualquier parte.</p>
    </div>
    <div class="feature col" data-aos="fade-up" data-aos-duration="1300" data-aos-once="true">
        <div class="feature-icon text-center">
            <img class="img-fluid" src="{% static 'GolGana/img/calendar.svg' %}">
        </div>
      <h2 class="features-title text-start">Busca y Alquila</h2>
      <p class="features-text text-start">Busca y alquila tu cancha, en el día y a la hora que quieras.</p>
    </div>
  </div>
</section>