{% extends 'GolGana/base.html' %}

{% load static %}
{% block css %}

<link href="{% static 'GolGana/css/profile.css' %}" rel="stylesheet">
{% endblock css %}



{% block content %}
{% include 'registration/navegacion.html' %}
<section class="editProfile row">

  {% include 'registration/menu-izquierda.html' %}

  
  <form action="." method="POST" class="mb-5 col-md-5" id="personForm" data-cities-url = "{% url 'ajax_load_cities' %}">{% csrf_token %}
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <h1 class="mb-5" style="color:#f3f4f5;">Mi perfil</h1>
      <div class="col">
        <h3 style="color:#f3f4f5;">Foto</h3><br>
       <img src="{{object.image.url}}" class="rounded-circle">
      </div>
    </div>
    <h2>Información Personal:</h2>
    <hr>
    <div class="row">
    <h5 class="text-muted">Ingresa tus datos:</h5>
    <!-- Text input -->
    <div class="col">
    <div class="form-outline mb-4">
      <label class="form-label" for="form6Example3">Nombre</label>
      {{form.nombre}}
      {{form.nombre.errors}}
    </div>
  </div>
    <!-- Text input -->
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Apellido</label>
        {{form.apellido}}
        {{form.apellido.errors}}
      </div>
    </div>
    </div>
    <div class="row">
      <!-- Text input -->
      <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Correo Electrónico</label>
        {{email.email}}
        {{email.email.errors}}
      </div>
    </div>
      <!-- Text input -->
      <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example3">Teléfono</label>
          {{form.telefono}}
          {{form.telefono.errors}}
        </div>
      </div>
      </div>
      {% if request.user.perfilcliente %}
      <h2>Datos de facturacion:</h2>
      <hr>
      
      <h5 class="text-muted">Actualiza tus datos de domicilio:</h5>
      {% elif request.user.perfilempresa %}
      <h2>Datos de contacto:</h2>
      <hr>
      <h5 class="text-muted">Actualiza tus datos de contacto:</h5>
      {% endif %}
      <div class="row">
        <!-- Text input -->
        <div class="col">
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example3">Tipo Documento</label>
          {{form.tipo_documento}}
          {{form.tipo_documento.errors}}
        </div>
      </div>
        <!-- Text input -->
        <div class="col">
          <div class="form-outline mb-4">
            <label class="form-label" for="form6Example3">Documento</label>
            {{form.documento}}
            {{form.documento.errors}}
          </div>
        </div>
        </div>  
        <div class="row">
          <!-- Text input -->
          <div class="col">
          <div class="form-outline mb-4">
            <label class="form-label" for="form6Example3">Departamento</label>
            {{form.departamento}}
            {{form.departamento.errors}}
          </div>
        </div>
          <!-- Text input -->
          <div class="col">
            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example3">Ciudad</label>
              {{form.ciudad}}
              {{form.ciudad.errors}}
            </div>
          </div>
          </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example3">Dirección</label>
          {{form.direccion}}
          {{form.direccion.errors}}
        </div>        
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Guardar</button>
  </form>

</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
$("#id_departamento").change(function () {
  const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
  const depId = $(this).val();  // get the selected country ID from the HTML input

  $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
      data: {
          'id_departamento': depId      // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_ciudad").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

});
</script>
{% endblock %}