<!--MENU DE LA IZQUIERDA DE LOS AJUSTES-->

<div class="OptionUser card mb-auto col-md-3" style="width: 18rem;">
    <ul class="list-group list-group-flush">
   <!--PERFIL CLIENTE LINKS-->
   {% if request.user.perfilcliente %}
   <li class="list-group-item">
     <a href="{% url 'user:edit-profile-cliente' request.user.perfilcliente.slug %}">Editar Perfil</a>
   </li>
   <li class="list-group-item">
     <a href="{% url 'home-next' %}">Alquilar Canchas</a>
   </li>
   <li class="list-group-item">
     <a href="{% url 'lista-reservas-cliente' request.user.perfilcliente.slug %}">Historial</a>
   </li>
   {% endif %}
<!--END USUARIO LINKS-->
   {% if request.user.perfilempresa %}
   <li class="list-group-item">
    <a  href="{% url 'user:edit-profile-empresa' request.user.perfilempresa.slug %}">Editar Perfil</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'detalle-cancha' request.user.perfilempresa.empresa.slug %}">Perfil Establecimiento</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'detalle-cancha' request.user.perfilempresa.empresa.slug %}">Actualizar Empresa</a>
  </li>
  <li class="list-group-item">
    <a href="#">Modificar Canchas</a>
  </li>

  <li class="list-group-item">
    <a href="#">Gestionar Reservas</a>
  </li>

   {% endif %}
  <li class="list-group-item"><a href="{% url 'password_change'%}">Cambiar Contraseña</a></li>
  <li class="list-group-item"><a href="{% url 'user:logout' %}">Salir</a></li>
    </ul>
  </div>