<!--MENU DE LA IZQUIERDA DE LOS AJUSTES-->

<div class="OptionUser card mb-auto col-md-3" style="width: 18rem;">
    <ul class="list-group list-group-flush">
  <li class="list-group-item active"><a href="#">Editar Perfil</a></li>
  <li class="list-group-item"><a href="#">Alquilar Canchas</a></li>
  <li class="list-group-item"><a href="#">Notificaciones</a></li>
  <li class="list-group-item"><a href="{% url 'password_change'%}">Cambiar Contraseña</a></li>
  <li class="list-group-item"><a href="{% url 'user:logout' %}">Salir</a></li>
    </ul>
  </div>