
{% load static %}
{% block css %}

{% endblock %}
<!--SOLO PARA LOS PERFILES-->
<section class="navegacion">

    <nav class="navbar navbar-expand-lg navPerfil px-3 mb-5">
        <div class="container-fluid">
          <a class="navbar-brand me-auto" href="#"><i class="fa fa-chevron-left"></i> Volver</a>
          <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'user:login' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"href="#">Editar Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"href="#">Alquilar Canchas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"href="#">Notificaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"href="{% url 'user:logout' %}">Salir</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>