{% extends 'GolGana/base.html' %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'GolGana/css/login.css'%}">

{% endblock %}

{% block content %}
<section class="login d-flex align-items-center justify-content-center my-auto">
<div class="align-middle">  
    <div class="wrapper bg-white">

<h3 class="mb-4">Contraseña cambiada correctamente</h3>
        <p>Puedes volver a tu perfil haciendo Click <a href="{% url 'user:login' %}">aquí</a>.</p>
        </div>
  </div>
</section>

{% endblock %}
