{% extends 'GolGana/base.html' %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'GolGana/css/login.css'%}">

{% endblock %}

{% block content %}
<section class="login d-flex align-items-center justify-content-center my-auto">
<div class="align-middle">  
    <div class="wrapper bg-white">
        <h2 class="text-center">Restablecer contraseña<h2>
        <h4 class="text-muted text-center pt-2"></h4>
        <form class="pt-3" method="POST" action=".">{% csrf_token %}
        
        
          
          <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
          {{ form.email.errors }}
          <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
          <button class="btn btn-block btn-submit text-center my-3" type="submit">Eniviar Email</button>
        </form>
    </div>
</div>
</section>

{% endblock %}
     