{% extends 'GolGana/base.html' %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'GolGana/css/login.css'%}">

{% endblock %}

{% block content %}
<section class="login d-flex align-items-center justify-content-center my-auto">
  <div class="align-middle">  
    <div class="wrapper bg-white">
        <h2 class="text-center">Restablecer contraseña<h2>
        <h4 class="text-muted text-center pt-2">Escriba la nueva contraseña</h4>

        {% if validlink %}
          <form class="pt-3" action="" method="post">{% csrf_token %}
            
            <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
            <button class="btn btn-block btn-submit text-center my-3" type="submit">Confirmar Contraseña</button>
          </form>
        {% else %}
          <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
          <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
    </div>
  </div>
</section>

{% endblock %}
    
