{% extends 'Golgana/base.html' %}
{% load static %}

{% block content %}
<section class="profileCard container-fluid">
    <div class="row">
        <div class="col-md-3 ">
            <div class="userCard card ">
                <div class="profileCard-body  card-body align-items-center d-flex justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                    {% if not request.user.perfilusuario.image %}
                    <img src="{% static 'GolGana/img/mario.jpeg' %}" class="profileImage img-radius">
                    {% else %}
                    <img src="{{request.user.perfilusuario.image.url}}" class="profileImage img-radius">
                    {% endif %}
                        <h1 class="profileName"> {{user}}</h1>
                        <h2 class="profileEmail"> {{user.email}}</h2>
                        {% comment %}
                        <h2 class="profileCity"> Tokio, Japon</h2>
                        <h2 class="profileAddress"> Castillo Princesa Peach</h2>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col align-self-center">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="informationCard card">
                <div class="informationCard-body card-body">
                        <div class="row flex justify-content-center">
                            <div class="col-sm-4 flex justify-content-start align-items-center">
                                <h3 class="mb-0">Antigua Contraseña:</h3>
                            </div>
                            <div class="col-sm-8 flex justify-content-start align-items-center">
                                {{form.old_password.errors}}
                                <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row flex justify-content-center">
                            <div class="col-sm-4 flex justify-content-start align-items-center">
                                <h3 class="mb-0">Nueva Contraseña</h3>
                            </div>
                            <div class="col-sm-8 flex justify-content-start align-items-center">
                                {{form.new_password1.errors}}
                                <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row flex justify-content-center">
                            <div class="col-sm-4 flex justify-content-start align-items-center">
                                <h3 class="mb-0">Repetir Contraseña</h3>
                            </div>
                            <div class="col-sm-8 flex justify-content-start align-items-center">
                                {{form.new_password2.errors}}
                                <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)"></p>
                            </div>
                            <div class="col-sm-8 flex justify-content-start align-items-center"></div>
                        </div>
                        <hr>
                        <div>
                            <input class="btn-success btn" type="submit" value="Actualizar">
                            <a href="{% url 'user:profile' %}" class="btn-success btn">Cancelar</a>
                        </div>
                    </div>
                    </div>   
                </div>         
            </form>
        </div>
    </div>
</section>
{% endblock %}
