{% extends 'GolGana/base.html' %}
{% load static %}
{% include 'GolGana/nav.html' %}


{% block content %}
{% include 'GolGana/nav.html' %}
<section class="profileCard container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="userCard card">
                <div class="profileCard-body  card-body align-items-center d-flex justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                    {% if not request.user.perfilusuario.image %}
                    <img src="{% static 'GolGana/img/mario.jpeg' %}" class="profileImage img-radius">
                    {% else %}
                    <img src="{{request.user.perfilusuario.image.url}}" class="profileImage img-radius">
                    {% endif %}
                        <h1 class="profileName"> {{user}}</h1>
                        <h2 class="profileEmail"> {{user.email}}</h2>
                        {% comment %}
                        <h2 class="profileCity"> Tokio, Japon</h2>
                        <h2 class="profileAddress"> Castillo Princesa Peach</h2>
                        {% endcomment %}
                        <a class="btn btn-success mt-2 " href="{% url 'user:email-update' %}">Actualizar Email</a>
                        <a class="btn btn-success mt-2" href="{% url 'user:password-change' %}">Cambia aqui la contraseña</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col align-self-center">
            <div class="informationCard card">
                <div class="informationCard-body card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-2 d-flex justify-content-start align-items-center">
                            <h3 class="mb-0">Foto:</h3>
                        </div>
                        <div class="col-sm-8 d-flex justify-content-start align-items-center">
                            <h4>Imagen de perfil actual</h4>
                        </div>
                        <div class="col-sm-2">
                    {% if not request.user.perfilusuario.image %}
                    <img src="{% static 'GolGana/img/mario.jpeg' %}" class="profileImage img-radius">
                    {% else %}
                    <img src="{{request.user.perfilusuario.image.url}}" class="profileImage img-radius">
                    {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-4 d-flex justify-content-start align-items-center">
                            <h3 class="mb-0">Nombre:</h3>
                        </div>
                        <div class="col-sm-8 d-flex justify-content-start align-items-center">
                            <h4>{{request.user.perfilusuario.nombre}}</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-4 d-flex justify-content-start align-items-center">
                            <h3 class="mb-0">Apellido:</h3>
                        </div>
                        <div class="col-sm-8 d-flex justify-content-start align-items-center">
                            <h4>{{request.user.perfilusuario.apellido}}</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-4 d-flex justify-content-start align-items-center">
                            <h3 class="mb-0">Teléfono:</h3>
                        </div>
                        <div class="col-sm-8 d-flex justify-content-start align-items-center">
                            <h4>{{request.user.perfilusuario.telefono}}</h4>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <a class="btn-success btn" type="submit" href="{% url 'user:edit-profile' %}">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock  %}
