{% extends 'GolGana/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<section>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-6 mx-auto p-0">
                <div class="card">
                    <div class="login-box">
                        <div class="login-snip"> <a id="tab-1" name="tab" class="sign-in tab" href="{% url 'user:login' %}">Login</a><a href="{% url 'user:signup' %}" class="tab">Sign Up</a>
                            <div class="login-space">
                                <div class="sign-up-form">
                                    {{form|crispy}}
                                    <input type="submit" name="submit" id="" value="Registrar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{% endblock  %}
