{% extends 'GolGana/base.html' %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'GolGana/css/login.css'%}">

{% endblock %}

{% block content %}

<section class="login d-flex align-items-center justify-content-center my-auto">

    <div class="align-middle">  
    <div class="wrapper bg-white">
        <div class="text-center">
        <img class="text-center mb-3" src="{% static 'GolGana/img/GolGana_6.svg'%}">
        <h2>Registrate</h2>

        </div>
        <div class="h4 text-muted text-center pt-2">Ingresa tus datos</div>


        <form class="pt-3" method="POST" action=".">{% csrf_token %}
            {% if form.non_field_errors %}
                    <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                    {% endif %}
            <div class="form-group py-2">
                <div class="input-field"> <span class="fa fa-user p-2"></span> {{form.username}} </div>
                {%for error in form.username.errors%} 
                <p style="color:red;">{{error}}</p>
                {% endfor %}
            </div>


            <div class="form-group py-1 pb-2">
                <div class="input-field"> <span class="fa fa-envelope p-2"></span> {{form.email}}</div>
            {%for error in form.email.errors%} 
            <p style="color:red;">{{error}}</p>
            {% endfor %}
            </div>


            <div class="form-group py-1 pb-2">
                <div class="input-field"> <span class="fa fa-lock p-2"></span> {{form.password1}} <i toggle="#password-field1" class="fa fa-eye-slash toggle-password1" id="togglePasword1"></i> 
                    
                </div>
                {%for error in form.password1.errors%} 
                <p style="color:red;">{{error}}</p>
                {% endfor %}
            </div>


            <div class="form-group py-1 pb-2">
                <div class="input-field"> <span class="fa fa-lock p-2"></span> {{form.password2}} <i toggle="#password-field2" class="fa fa-eye-slash toggle-password2" id="togglePasword2"></i> </div>
                {%for error in form.password2.errors%} 
            <p style="color:red;">{{error}}</p>
            {% endfor %}
            </div>
            {%for error in form.captcha.errors%} 
            <p style="color:red;">{{error}}</p>
            {% endfor %}
            {{form.captcha}}


            <button class="btn btn-block btn-submit text-center my-3" type="submit">Registro</button>
            <div class="col-md-12 ">
                <div class="login-or">
                   <hr class="hr-or">
                   <span class="span-or">o</span>
                </div>
             </div>
    
             <div class="col-md-12 mb-3">
              <p class="text-center">
                 <a href="{% url 'social:begin' "google-oauth2" %}" class="google btn mybtn"><i class="fa fa-google-plus">
                 </i> Registrate a traves de Google
                 </a>
              </p>
           </div>

            <div class="text-center pt-3 text-muted">¿No eres miembro? <a href="#">Registrarme</a></div>
        </form>
    </div>
</div>
</section>

{% endblock %}

{% block js %}

<script>
    
    $(".toggle-password1").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
        input.attr("type", "text");
        } else {
        input.attr("type", "password");
        }
        });

    $(".toggle-password2").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
    input.attr("type", "text");
    } else {
    input.attr("type", "password");
    }
    });
    
    </script>




{% endblock %}