body{
    font-family: "Inter", sans-serif !important;
}
.logo{
    width: 150px;
    height: 50px;
}


.navbar a{
    font-weight: bold;
    font-size: 1.8rem;
}

@media (min-width: 994px) {
    .navbarleon{
        background: transparent !important;
    }

    .navbar-light{
        background-color: white!important;
        border-bottom:rgb(0, 0, 0)!important;
    }

    .navbar-light a{
        color:black!important;
        font-weight: bold;
    }

    .logo2{
        content:url('../img/GolGana_6.png')!important;
        transition: 0.2s linear;
    }
    
    .logo{
        content:url('../img/GolGana_6_blanco.png')!important;
        transition: 0.2s linear;
    }

    .navbarleon a{
        color:white!important;
        font-weight: bold;
    }

}

.navbarleon{
    background-color:white;
}

.navbarleon a{
    color:black;
    font-weight: bold;
}

.navbar-light{
    background-color: white;
}

.navbar-light a{
    color:black;
    font-weight: bold;
}

.navbarleon button{
    border-color:rgb(145, 145, 145)!important;
}

.navbarleon button span{
    color: rgb(145, 145, 145)!important;
}

.logo2{
    content:url('../img/GolGana_6.png')!important;
    transition: 0.2s linear;
}

.logo{
    content:url('../img/GolGana_6.png');
    transition: 0.2s linear;
}

a.btn-primary{
    border-radius: 5%;
    font-size: 15px;
    border-color: transparent !important;
    margin-left: 40px !important;
    background-color: #7ab92a !important;
    
}
a.btn-primary:hover{
    border: transparent !important;
    background-color: #a8e754 !important;
}

/*<--nav-->*/
.bannerContainer {
    position:relative;     
}
.carousel {
    position:absolute;
    top:0;    
}
.carousel-inner{
    width:100%;
    max-height: 720px!important;
  }

  .carousel-inner img{
    filter: brightness(30%);
    width:100%;
    max-height: 720px!important;
  }
  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
    .hero .btn-custom{font-size: 2rem !important;}   
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2em; }    
    
}

.carrusel{
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left:0!important;
    margin-right:0!important;
    
}

.carousel-item .active{
    max-height: 20vh!important;
}

/*<--lugar-->*/
.googlemapa{

    overflow: hidden !important;
    height: 80vh;
    width: 100%;
    margin-bottom: 5%;
}
.googlemapa iframe{

    width: 100%;
    height: 90%;
}
.mapagoogle{
    background-color: #f4f4f4 !important;
}

/*<--tarjetas-->*/
.tarjeta1{
    
background-color: #ffffff;
background-image: url("../img/tilt.svg");
background-size: cover;
background-attachment:inherit;
background-position: 50% 50%;
background-size: 1920px 1200px;
}

.card{
    font-size: 1.3rem !important;
    text-align: center !important;
    min-width: 20vw!important;
    margin-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.texto{
    align-items: center !important;
    padding: 70px 20px;
}

/*<--tarjetas-->*/
.cards-1 .card {
    display: inline-block;
    max-width: 17.5rem;
    text-align: left;
    vertical-align: top;
}

.cards-1 div.card:nth-child(3n+2) {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.football{  
    margin-top: 50% !important;
    max-width: 250% !important;
}
    
.football-field{
    margin-top: 50% !important;
    max-width: 250% !important;
}

.call{
    margin-top: 50% !important;
    max-width: 250% !important;
}



/*<--Footer-->*/
.footerleon{
    background-color: #34495e;
}

section.container{
    background-color: #82e0ab;
}

.tarjetas-texto {
    font-weight: bold;
    font-size: 1.5rem;
}


