body{
    overflow-x: hidden;
    min-width: 100vw!important;

}

@media (max-width:1000px) {
    .navHeader .row{
        margin-right:0!important;
    }
}

/*-->NAVBAR<--*/
.navHeader .navbar{
    background-color: transparent!important;
    padding: 0% 5% 0% 5%;
}

.navHeader{
    background-color: #5B1CE3;
    position: relative;
    min-width: 100vw;
}

.navHeader .nav-link{
    color:#f3f4f5!important;
    font-weight: bold;
}
.navHeader .nav-link:hover{
    color: #A4E31D !important;
}

.navHeader .navbar-brand img{
    width: 3rem!important;
}

.heroNav h1, .heroNav p{
    color: #f3f4f5!important
}

.heroNav .btn-primary{
    background-color:#A4E31D;
    color:#f3f4f5;
    font-weight: bold;
    border:transparent;
}
.heroNav .btn-primary:hover{
    background-color: #f3f4f5;
    color: #A4E31D;
}

@media (min-width:1000px){
    .navHeader .nav-link{
        margin-left: 5px;
    }
}

@media (max-width:1000px){

    .navHeader .imgHero{
    display: none!important;
    }
}

.custom-shape-divider-bottom-1630425168 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630425168 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 62px;
}

.custom-shape-divider-bottom-1630425168 .shape-fill {
    fill: #202124;
}

/*-->Tarjeta<--*/

hr{
    width:10%!important;
    color:#5B1CE3!important;
    opacity: 1;
    margin: 0 auto;

}

.tarjetasIndex h1{
    color: #f3f4f5;
}

.tarjetasIndex h2{
    color:#A4E31D;
}

.tarjetasIndex p{
    color: #f3f4f5;
}

.tarjetasIndex a{
    color:#A4E31D;
}

.tarjetasIndex img{
    max-width: 180px;
}

/*-->Mapa<--*/

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.mapa h1{
    color: #f3f4f5;
}

/*-->About<--*/

.aboutIndex h1{
    color: #f3f4f5 !important;
}

.aboutIndex h2{
    color:#A4E31D !important;
}

.aboutIndex .card{
    color: #f3f4f5 !important;
    background: transparent !important;
    border:none !important;

}


/*-->footer<--*/


.footer{
    background-color: #5B1CE3;
    width: 100vw!important;
}

.footerIndex{
    background-color: #5B1CE3;
    position: relative;
}

.footerIndex img{
    width: 9.5rem!important;
}

.footerIndex .nav-link:hover{
    color:#A4E31D!important;
    font-weight: bold;
}

.footerIndex .nav-link, .footerIndex p{
    color:#f3f4f5!important;
}

.custom-shape-divider-top-1630426408 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630426408 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 62px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1630426408 .shape-fill {
    fill: #202124;
}