.body{
    font-family: "Inter",sans-serif
}



.btn-custom{
    background-color:#73ac2a!important;
    border-color:#4f820a!important;
    font-weight: bold!important;
    color:white!important;
    
}
