nav{
    background: transparent;
    font-family: 'Inter'sans-serif;
}
.logo{
    width: 120px;
    height: 120px;
}
a.inicio1, .registro1{
    color: #1d1d1d;
    text-decoration: none;
}
a.inicio1:hover{
    color: #fff;
}
a.registro1:hover{
    color: #fff;
}