{% extends 'GolGana/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'GolGana/css/update-empresa.css'%}">

{% endblock %}

{% block content %}

<section class="update-empresa">
    <!--Barras de Navegación--> 
    {% include 'registration/navegacion.html' %}
    <div class="row">
    {% include 'registration/menu-izquierda.html' %}
    
    <div class='formulario-empresa col-md-12 col-xl-9 row d-flex justify-content-center mx-md-0'>
    <form method="POST" action="." id="empresaForm" data-cities-url = "{% url 'ajax_load_cities' %}" class="col-md-12 row">
    {% csrf_token %}
    <h1>Perfil Establecimiento</h1>
    <div class="col-md-6"> 
        
    <div class="mt-2"><h3>Foto Establecimiento</h3><img src="{{form.instance.image.url}}" class="empresaimg"></div>
    <div class="mt-4">
        <h3>Nombre:</h3>
        {{form.nombre}}
    </div>
    </div>
    <div class="col-md-6 row">
        <h3>Descripción</h3>
        {{form.descripcion}}
        <h3 class="mt-1">Teléfono:</h3>
        {{form.telefono}}
        <h3 class="mt-1">Dirección:</h3>
        {{form.direccion}}
        
       
    </div>
    <h3 class="text-center mt-4">Horario de atención</h3>
    <h4 class="col-md-6">Inicio:{{form.hora_inicio}} </h4> <h4 class="col-md-6">Cierre: {{form.hora_final}}</h4>
    <h3><a class="btn btn-primary">Guardar</a></h3>
    </form>

    <!--VER TODAS LAS CANCHAS DE LA EMPRESA--> 
    <div class="canchasreserva col-md-12 container row mt-5">
        <h2>Informacion de canchas</h2>
        {% for cancha in canchas %}
        <div class="col-md-4 m-auto">
        <h3>{{cancha.nombre}}</h3>
        </div>
        <div class="col-md-4 mt-5">
        <img src="{{cancha.image.url}}" class="imgch img-fluid">
        </div>
        <div class="col-md-4 m-auto">
        <a href="#">Editar</a>
        <a href="{% url 'eliminar-cancha' cancha.pk%}">Eliminar</a>
        </div>
        {% endfor %}
        
    <!--HACER LA RESERVA--> 
    {% comment %} <a href="{% url 'crear-reserva' %}">Crear Reserva</a> {% endcomment %}
    
  
    </div>
    </div>     
    </div>

</section>

{% endblock %}


{% block js %}
<script type="text/javascript">
$("#id_departamento").change(function () {
  const url = $("#empresaForm").attr("data-cities-url");  // get the url of the `load_cities` view
  const depId = $(this).val();  // get the selected country ID from the HTML input

  $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
      data: {
          'id_departamento': depId      // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_ciudad").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

});
</script>
{% endblock %}